<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<div class="container d-flex flex-column justify-content-center align-items-center ">

  <h1 class="text-center">
    <%=blog.name%> write your blog <img src="https://pngimg.com/uploads/pen/pen_PNG7404.png" alt="" width="5%">
  </h1>
  <form action="/editOne/<%=blog._id%>" method="post" class="row w-75 ">
    <div class="mb-3 ">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control " value="<%=blog.title%>" id="title" name="title" placeholder="Title....."
        required>
    </div>
    <div class="mb-3 ">
      <label for="photo" class="form-label">Photo</label>
      <input type="text" class="form-control " value="<%=blog.photo%>" id="photo" name="photo"
        placeholder="https://image.png">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Text</label>
      <textarea name="text" id="text" rows="2" placeholder="Lorem ipsum..."><%=blog.text%></textarea>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn color text-light mb-3">Save</button>
    </div>
    <input type="hidden" class="form-control " id="username" name="username" value="<%=blog.name%>">
  </form>
</div>
<script>
  input = document.getElementById("search");
  btn = document.getElementById("searchBtn");
  input.style.display = "none";
  btn.style.display = "none";
</script>
<%-include('./partials/footer')%>