<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<div class="container d-flex flex-column justify-content-center align-items-center ">
    <h1 class="text-center">Login</h1>
    <% if (typeof errorMessage !== "undefined") { %>
        <p class="bg-danger text-light p-1 rounded"><%= errorMessage %></p>
    <% } %>
    <% if (typeof successMessage !== "undefined") { %>
        <p class="color1 text-light p-1 rounded"><%= successMessage %></p>
    <% } %>
    <% if (typeof logautMessage !== "undefined") { %>
        <p class="bg-danger text-light p-1 rounded"><%= logautMessage %></p>
    <% } %>
    <form action="/login/" method="post" class="row">
        <div class="mb-3 ">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control " id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn color text-light mb-3">Login</button>
        </div>
    </form>
</div>
<script>
    input = document.getElementById("search");
    btn=document.getElementById("searchBtn");
    input.style.display = "none";
    btn.style.display = "none";
  </script>
<%-include('./partials/footer')%>
